$nor-red: #db2c2d;
$deep-red: #96220e;

// 文本显示几行的混合
@mixin t-ellipsis($lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// 版心
@mixin s-content {
    padding-bottom: 150px;
    width: 1200px;
    margin: 100px auto;
}

// 三角形
@mixin triangle($direction, $size, $borderColor) {
    content: "";
    height: 0;
    width: 0;

    @if $direction==top {
        border-bottom: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }

    @else if $direction==right {
        border-left: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }

    @else if $direction==bottom {
        border-top: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }

    @else if $direction==left {
        border-right: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
}

// SeriesTabs
.s-tabs {
    width: 800px;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin: -45px auto;

    .s-tab-item {
        width: 200px;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
        background-color: gray;

        p {
            margin-left: 10px;
            margin-bottom: 0;
            color: white;
            font-size: 17px;
        }

        &.isActive {
            background-color: $nor-red;
        }
    }
}