@import './mixin.scss';

// SeriesTabs
.s-tabs {
    width: 966px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    margin: -57.5px auto;

    .s-tab-item {
        width: 240px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #58595b;

        p {
            margin-left: 10px;
            margin-bottom: 0;
            color: white;
            font-size: 20px;
            font-weight: 500;
            font-family: $font-family;
        }

        &.isActive {
            background-color: $nor-red;
        }
    }
}

// SelectItem
.s-select-item {
    height: 55px;
    width: 310px;
    position: relative;
    display: flex;

    input {
        width: 250px;
        height: 100%;
        outline-style: none;
        border: 1px solid rgba($color: #fff, $alpha: 0.5);
        background-color: transparent;
        padding-left: 20px;
        color: white;
        font-size: 16px;
        font-weight: 300;
        font-family: $font-family;

        // input的placeholder设置样式
        &::-webkit-input-placeholder {
            color: white;
        }
    }

    .indicator {
        display: inline-block;
        width: 55px;
        height: 55px;
        background-color: $nor-red;
        margin: 0 25px 0 3px;
        text-align: center;
        line-height: 55px;

        i {
            background: url('../img/arrow-down.svg') no-repeat center;
            width: 27px;
            height: 10px;
            display: inline-block;
        }
    }

    ul {
        position: absolute;
        top: 105%;
        width: 232px;
        max-height: 350px;
        overflow-y: scroll;
        list-style: none;
        z-index: 9999;
        padding: 5px 0;
        border-radius: 5px;
        background-color: white;

        li {
            height: 55px;
            padding: 0 20px;
            line-height: 55px;
            overflow: hidden;
            box-sizing: border-box;
            color: #888888;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                background-color: #eee;
            }

            &.active {
                background-color: rgb(233, 247, 254);
            }
        }
    }
}

.commonButton {
    width: 250px;
    height: 65px;
    border: 1px solid rgba($color: $nor-red, $alpha: 0.6);
    text-align: center;
    line-height: 65px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-family;
    display: block;

    p {
        transition: all 0.2s;

        &.active {
            transform: scale(1.2);
            color: white;
        }
    }
}