@import './all2.scss';
@import './common.scss';


// SeriesTabs
.s-tabs {
    width: 966px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    margin: -57.5px auto;

    .s-tab-item {
        width: 240px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #58595b;

        p {
            margin-left: 10px;
            margin-bottom: 0;
            color: white;
            font-size: 20px;
            font-weight: 500;
            font-family: $font-family;
        }

        &.isActive {
            background-color: $nor-red;
        }
    }
}