@import './mixin.scss';

// 线下赛事整体框架
.s-container {
    background-color: black;
    position: relative;
    padding-bottom: 10px;

    .topBanner {
        height: 650px;
        width: 100%;
        object-fit: cover;
    }
}

@mixin s-content {
    padding-bottom: 150px;
    width: 1200px;
    margin: 100px auto;
}

// 赛事简介
.s-summary-box {
    @include s-content();

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
    }

    .s-category-summary {
        display: flex;
        margin-top: 50px;

        .left {
            width: 5/12*100%;
            font-family: $font-family;

            h4 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            p {
                font-size: 21px;
                font-weight: 300;
                margin-bottom: 15px;
                opacity: 0.9;
                width: 80%;
                margin-left: 42px;
            }

            .image-text {
                display: flex;

                img {
                    margin-right: 15px;
                }

                p {
                    margin-left: 0px;
                    margin-bottom: 20px;
                }
            }
        }

        .right {
            img {
                width: 700px;
                height: 485px;
                margin-top: 10px;
            }
        }
    }

    .s-main-events {
        h3 {
            color: white;
            font-size: 44px;
            font-family: $font-family;
            text-align: center;
            margin-top: 90px;
            margin-bottom: 50px;
        }

        .s-main-list {
            list-style: none;

            li {
                display: flex;
                justify-content: space-between;
                height: 70px;
                line-height: 70px;

                &:nth-child(even) {
                    background-color: #f1f1f1;
                }

                &:nth-child(odd) {
                    background-color: #d5d7d8;
                }

                &:nth-child(1) {
                    background-color: $nor-red;

                    p {
                        font-weight: bold;
                        color: white;
                        height: 44px;
                        line-height: 44px;
                        margin-top: 13px;
                        padding-left: 19px;
                        margin-left: -19px;
                        border-left: 1px solid green;

                        &:nth-child(1) {
                            border-left: none;
                            margin-left: 0;
                        }
                    }
                }

                p {
                    font-weight: 300;
                    font-family: $font-family;
                    color: black;

                    &:nth-child(1) {
                        padding-left: 74px;
                        flex: 3.5;
                        @include t-ellipsis(1);
                    }

                    &:nth-child(2) {
                        flex: 2.7;
                    }

                    &:nth-child(3) {
                        flex: 2.7;
                    }

                    &:nth-child(4) {
                        flex: 3.4;
                    }
                }
            }
        }


        .more {
            width: 250px;
            height: 65px;
            line-height: 65px;
            @include minBorder($nor-red);
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 500;
            font-family: $font-family;
            margin: 59px auto;
        }
    }

    .s-rdpt {
        width: 100%;
        height: 450px;
        margin-top: 123px;

        .s-rdpt-content {
            position: absolute;
            height: 450px;
            left: 0;
            right: 0;
            background-color: #8c8c8c;
        }
    }

    .s-desc-list {
        margin-top: 125px;
        list-style: none;

        li {
            .header {
                height: 70px;
                line-height: 70px;
                background-color: $nor-red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                border-bottom: 1px solid #811213;

                .left {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    img {
                        width: 28px;
                        height: 32px;
                        margin-left: 40px;
                        margin-right: 20px;
                    }

                    p {
                        font-size: 25px;
                        font-weight: 500;
                        font-family: $font-family;
                    }
                }

                i {
                    background: url('../img/plus.svg') no-repeat center;
                    width: 23px;
                    height: 23px;
                    margin-right: 30px;
                    transition: all 0.2s;

                    &.active {
                        transform: rotateZ(45deg);
                    }
                }

                .triangle-down {
                    @include triangle(bottom, 12px, $nor-red);
                    position: absolute;
                    left: 40px;
                    bottom: -12px;
                    z-index: 999;
                }
            }

            .desc {
                overflow: hidden;

                .inner {
                    background-color: #f1f1f2;
                    padding: 34px 40px;

                    div {
                        display: flex;
                        color: black;
                        font-size: 18px;
                        font-weight: 300;
                        font-family: $font-family;
                        line-height: 39px;

                        p {
                            &:nth-child(1) {
                                width: 3%;
                            }

                            &:nth-child(2) {
                                width: 97%;
                            }
                        }
                    }
                }
            }
        }
    }

}

// 赛程表 和 赛程结果 头部公共样式
.s-list-result {
    @include s-content();

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
    }

    .s-select-box {
        width: 870px;
        margin: 50px auto;
        display: flex;

        p {
            width: 250px;
            height: 55px;
            line-height: 55px;
            background-color: $nor-red;
            color: white;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            font-family: $font-family;
        }
    }
}

// 赛程表
.s-list-box {
    .s-list {
        background-color: $deep-red;
        width: 100%;
        list-style: none;
        margin-top: 60px;

        &>li {
            border-bottom: 1px solid #811213;

            &:nth-last-child() {
                border-bottom: none
            }

            .s-list-header {
                display: flex;
                justify-content: space-between;
                padding: 0 38px;

                p {
                    height: 70px;
                    line-height: 70px;
                    color: white;
                    font-size: 28px;
                    font-family: $font-family;
                    margin-bottom: 0;
                }

                i {
                    background: url('../img/plus.svg') no-repeat center;
                    width: 23px;
                    height: 23px;
                    margin-top: 23px;
                    transition: all 0.2s;

                    &.active {
                        transform: rotateZ(45deg);
                    }
                }
            }

            >ul {
                width: 100%;
                list-style: none;
                height: 0;
                overflow: hidden;

                .s-in-list-header {
                    display: flex;
                    height: 70px;
                    line-height: 70px;
                    position: relative;
                    background-color: $nor-red;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $font-family;

                    p {
                        height: 44px;
                        line-height: 44px;
                        margin-top: 13px;
                        padding-left: 15px;
                        margin-left: -15px;
                        color: white;
                        border-left: 1px solid #811213;

                        &:nth-child(1) {
                            border-left: none;
                            margin-left: 23px;
                        }
                    }

                    .triangle-down {
                        @include triangle(bottom, 12px, $nor-red);
                        position: absolute;
                        left: 38px;
                        bottom: -12px;
                        z-index: 999;
                    }
                }

                .s-in-list-other {
                    display: flex;
                    height: 70px;
                    line-height: 70px;
                    color: black;
                    font-weight: 300;
                    font-size: 18px;
                    font-family: $font-family;
                    white-space: nowrap;

                    &:nth-child(even) {
                        background-color: #f1f1f1;
                    }

                    &:nth-child(odd) {
                        background-color: #d5d7d8;
                    }
                }
            }
        }
    }
}

// 赛程表event详情的modal弹框
.modal-box {
    position: fixed;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    overflow: scroll;

    .m-content {
        width: 697px;
        background-color: white;
        margin: 150px auto;
        padding: 25px;
        padding-bottom: 50px;

        .header {
            display: flex;
            align-items: center;
            height: 70px;
            background-color: $nor-red;
            justify-content: space-between;
            padding: 0 25px;

            p {
                color: white;
                font-size: 25px;
                font-family: $font-family;
            }

            a {
                background: url('../img/close.svg') no-repeat center;
                width: 23px;
                height: 23px;
            }
        }

        .title {
            color: black;
            font-size: 20px;
            font-weight: 500;
            font-family: $font-family;
            margin: 20px 25px;
        }

        .descItem {
            border-bottom: 1px solid #d5d7d8;
            padding: 0 25px;
            display: flex;
            font-size: 18px;
            font-weight: 500;
            font-family: $font-family;
            color: black;
            line-height: 60px;

            .left {
                flex: 3;
                display: flex;

                .key {
                    width: 106px;
                }
            }

            .right {
                flex: 2.4;
                display: flex;

                .key {
                    width: 144px;
                }
            }

            .left .value,
            .right .value {
                font-weight: 300;
            }
        }

        table {
            width: 647px;
            margin-top: 30px;

            tr {
                display: flex;
            }

            th,
            td {
                font-size: 18px;
                font-family: $font-family;
                color: black;
                font-weight: 500;
                height: 50px;
                line-height: 50px;
                flex: 1;

                &:nth-child(1) {
                    padding-left: 20px;
                }
            }

            thead {
                background-color: #d5d7d8;
            }

            tbody tr {
                border-bottom: 1px solid #d5d7d8;

                td {
                    font-weight: 300;
                }
            }
        }

        .m-bottom {
            margin: 20px auto;
            width: 270px;
            display: flex;
            justify-content: space-between;

            .share,
            .download {
                width: 120px;
                height: 45px;
                background-color: $nor-red;
                text-align: center;
            }

            .share i {
                background: url('../img/share.svg') no-repeat center;
                width: 21px;
                height: 21px;
                display: inline-block;
                margin-top: 12px;
            }

            .download i {
                background: url('../img/download.svg') no-repeat center;
                width: 21px;
                height: 19px;
                margin-top: 13px;
                display: inline-block;
            }
        }
    }
}

// 赛事结果
.s-result-box {
    @include s-content();

    >ul {
        background-color: $deep-red;
        width: 100%;
        list-style: none;
        margin-top: 59px;

        .header-item {
            display: flex;
            height: 70px;
            line-height: 70px;
            background-color: $nor-red;
            align-items: center;

            p {
                height: 35px;
                line-height: 35px;
                color: white;
                font-size: 18px;
                font-family: $font-family;
                font-weight: bold;
                padding-left: 15px;
                margin-left: -15px;
                border-left: 1px solid #811213;

                &:nth-child(1) {
                    border-left: none;
                    margin-left: 59px;
                }
            }
        }

        .other-item {
            display: flex;
            height: 70px;
            line-height: 70px;
            background-color: #d5d7d8;
            color: black;
            font-size: 19px;
            font-weight: 300;
            font-family: $font-family;
            position: relative;

            &:nth-child(even) {
                background-color: #f1f1f2
            }

            .rank {
                margin-left: 74px;

                i {
                    display: inline-block;
                    position: absolute;
                    width: 179px;
                    height: 55px;
                    top: 7px;
                    left: 0;
                }

                p {
                    position: relative;

                    &.topThree {
                        color: white;
                        font-size: 15px;
                        font-weight: 900;
                    }
                }
            }

            .name {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    background-color: #ccc;
                    border-radius: 50%;
                    margin-right: 14px;
                }
            }
        }
    }

    .s-more {
        width: 250px;
        height: 65px;
        @include minBorder($nor-red);
        text-align: center;
        line-height: 65px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        font-family: $font-family;
        margin: 59px auto;
    }
}

// 赛事直播
.s-zhibo-box {
    @include s-content();

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
    }

    .s-player-box {
        width: 700px;
        margin: 50px auto;

        .s-image-box {
            width: 100%;
            height: 400px;
            position: relative;

            img {
                &:nth-child(1) {
                    width: 100%;
                    height: 100%;
                }

                &:nth-child(2) {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .s-audio-title {
            color: white;
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        div {
            color: white;
            font-size: 16px;
            background-color: red;

            p {
                margin-bottom: 0;
                float: left;
            }

            .s-like {
                float: right;
            }

            .s-share {
                margin-left: 20px;
                float: right;
            }
        }
    }

    .s-other-box {
        margin-top: 100px;

        h1 {
            color: white;
            font-size: 40px;
            text-align: center;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {

                div {
                    position: relative;
                    width: 360px;
                    height: 240px;

                    img {
                        &:nth-child(1) {
                            width: 360px;
                            height: 240px;
                        }

                        &:nth-child(2) {
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .s-title {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                .s-time {
                    color: white;
                    font-size: 16px;
                }
            }


        }

        .s-more {
            width: 250px;
            height: 65px;
            @include minBorder($nor-red);
            text-align: center;
            line-height: 65px;
            opacity: 0.7;
            color: white;
            font-size: 18px;
            opacity: 0.6;
            margin: 30px auto;
        }
    }



}