@import './common.scss';

// 线下赛事整体框架
.s-container {
    background-color: black;
    position: relative;
    padding-bottom: 10px;

    .s-image-content {
        width: 1920px;
        height: 800px;
        margin: 0 auto;
    }
}

@mixin s-content {
    padding-bottom: 150px;
    width: 1200px;
    margin: 100px auto;
}

// 赛事简介
.s-summary-box {
    @include s-content();
    background-color: $nor-red;
}

// 赛程表 和 赛程结果 头部公共样式
.s-list-result {
    @include s-content();

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
    }

    .s-select-box {
        width: 600px;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .s-select-item {
            height: 40px;
            width: 300px;
            position: relative;

            input {
                width: 150px;
                height: 40px;
                outline-style: none;
                border-width: 1px;
                border-color: rgba($color: #fff, $alpha: 0.5);
                border-style: solid;
                background-color: transparent;
                padding-left: 10px;
                color: white;
                vertical-align: top;
                box-sizing: border-box;

                // input的placeholder设置样式
                &::-webkit-input-placeholder {
                    color: white;
                }
            }

            span {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: $nor-red;
                margin: 0 20px 0 3px;
            }

            ul {
                position: absolute;
                width: 200px;
                max-height: 350px;
                overflow: scroll;
                list-style: none;
                z-index: 9999;
                padding: 5px 0;
                border-radius: 5px;
                background-color: white;

                li {
                    height: 40px;
                    padding-left: 10px;
                    line-height: 40px;
                    color: #888888;
                    cursor: pointer;
                    white-space: nowrap;

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
        }

        p {
            width: 200px;
            height: 40px;
            background-color: $nor-red;
            color: rgba($color: #fff, $alpha: 1);
            opacity: 0.8;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
        }
    }
}

// 赛程表
.s-list-box {
    .s-list {
        background-color: $deep-red;
        width: 100%;
        list-style: none;
        margin-top: 50px;

        &>li {
            border-bottom: 1px solid #666;

            &:nth-last-child() {
                border-bottom: none
            }

            .s-list-header {
                display: flex;
                justify-content: space-between;
                padding: 0 20px;

                p {
                    height: 60px;
                    line-height: 60px;
                    color: white;
                    font-size: 20px;
                    margin-bottom: 0;
                }

                i {
                    background: url('../img/eye.png') no-repeat center;
                    background-size: contain;
                    width: 30px;
                    height: 30px;
                    margin-top: 15px;
                }
            }

            ul {
                width: 100%;
                list-style: none;
                height: 0;
                overflow: hidden;

                li {
                    display: flex;
                    justify-content: space-between;
                    height: 60px;
                    line-height: 60px;
                    background-color: #ddd;
                    padding: 0 20px;
                    position: relative;

                    &:nth-child(even) {
                        background-color: white;
                    }

                    &:nth-child(1) {
                        background-color: $nor-red;

                        .triangle-down {
                            width: 0;
                            height: 0;
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-top: 12px solid $nor-red;
                            position: absolute;
                            left: 20px;
                            bottom: -12px;
                            z-index: 999;
                        }
                    }
                }
            }
        }
    }
}

// 赛事结果
.s-result-box {
    @include s-content();

    >ul {
        background-color: $deep-red;
        width: 100%;
        list-style: none;
        margin-top: 50px;

        li {
            display: flex;
            justify-content: space-between;
            height: 60px;
            line-height: 60px;
            background-color: #ddd;
            padding: 0 20px;

            &:nth-child(even) {
                background-color: white
            }

            &:nth-child(1) {
                background-color: $nor-red;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;

                p {
                    height: 35px;
                    line-height: 35px;
                    color: white;
                    font-size: 20px;
                    margin-bottom: 0;
                    padding-left: 15px;
                    margin-left: -15px;
                    border-left: 1px solid green;

                    &:nth-child(1) {
                        border-left: none;
                        margin-left: 35px;
                    }
                }
            }

            p {
                &:nth-child(1) {
                    flex: 1.4;
                    margin-left: 50px;
                }

                &:nth-child(2) {
                    flex: 3;
                }

                &:nth-child(3) {
                    flex: 2;
                }

                &:nth-child(4) {
                    flex: 2;
                }
            }
        }
    }

    .s-more {
        width: 250px;
        height: 65px;
        border: solid 1px #db2c2d;
        text-align: center;
        line-height: 65px;
        opacity: 0.7;
        color: white;
        font-size: 18px;
        opacity: 0.6;
        margin: 70px auto;
    }
}

// 赛事直播
.s-zhibo-box {
    @include s-content();

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 150px;
    }

    .s-player-box {
        width: 700px;
        margin: 50px auto;

        .s-image-box {
            width: 100%;
            height: 400px;
            position: relative;

            img {
                &:nth-child(1) {
                    width: 100%;
                    height: 100%;
                }

                &:nth-child(2) {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .s-audio-title {
            color: white;
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        div {
            color: white;
            font-size: 16px;
            background-color: red;

            p {
                margin-bottom: 0;
                float: left;
            }

            .s-like {
                float: right;
            }

            .s-share {
                margin-left: 20px;
                float: right;
            }
        }
    }

    .s-other-box {
        margin-top: 100px;

        h1 {
            color: white;
            font-size: 40px;
            text-align: center;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;

            li {

                div {
                    position: relative;
                    width: 360px;
                    height: 240px;

                    img {
                        &:nth-child(1) {
                            width: 360px;
                            height: 240px;
                        }

                        &:nth-child(2) {
                            width: 50px;
                            height: 50px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .s-title {
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                .s-time {
                    color: white;
                    font-size: 16px;
                }
            }


        }

        .s-more {
            width: 250px;
            height: 65px;
            border: solid 1px #db2c2d;
            text-align: center;
            line-height: 65px;
            opacity: 0.7;
            color: white;
            font-size: 18px;
            opacity: 0.6;
            margin: 30px auto;
        }
    }



}