@import './mixin.scss';

// 规则页面
.rulePage {
    background-color: black;
    padding: 123px 0;
    padding-bottom: 202px;
    color: white;
    font-family: $font-family;

    .content {
        margin: 0 auto;
        width: 1200px;

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            padding-bottom: 48px;
        }

        .param {
            text-align: center;
            width: 910px;
            font-size: 25px;
            margin: 0 auto;
            margin-bottom: 55px;
        }

        .line {
            background-color: #db2c2d;
            height: 1px;
            margin-bottom: 45px;
        }

        .desc {
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
        }
    }
}

// 关于我们页面
.aboutPage {
    background-color: black;
    padding-bottom: 362px;
    color: white;
    font-family: $font-family;
    position: relative;

    .content {
        margin: 0 auto;
        width: 1200px;
        position: relative;
        z-index: 10;

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            padding-bottom: 30px;
            margin-top: 170px;
        }

        .desImage {
            width: 580px;
            height: 400px;
            margin: 0 auto;
            display: block;
        }

        .descBox {
            width: 822px;
            margin: 50px auto;

            .descRow {
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                margin: 40px auto;
                margin-bottom: 0px;

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    width: 97%;
                }

                &:nth-child(6) {
                    width: 92%;
                }
            }
        }

        .historyBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            position: relative;

            h3 {
                font-size: 44px;
                margin-bottom: 50px;
            }

            .progressLine {
                width: 9px;
                height: 545px;
                background-color: white;
                position: absolute;
                top: 200px
            }

            .circleOuter {
                padding: 12px;
                background-color: black;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                position: relative;
                margin-bottom: 168px;

                .circleInner {
                    width: 76px;
                    height: 76px;
                    border-radius: 38px;
                    background-color: black;
                    border: 5px solid $nor-red;
                }
            }

            .first {
                position: absolute;
                top: 155px;
                left: 58%;
            }

            .first2 {
                position: absolute;
                top: 44%;
                right: 58%;
                text-align: right;
            }

            .first3 {
                position: absolute;
                top: 72%;
                left: 58%;
            }

            .progressDes {
                h3 {
                    font-weight: bold;
                    font-size: 40px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                img {
                    width: 410px;
                    height: 268px;
                }
            }
        }
    }

    .bg-view-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .item1 {
            width: 450px;
            height: 30px;
            background-color: white;
            position: absolute;
            right: 0;
            top: 850px;
        }

        .item2 {
            width: 1150px;
            height: 690px;
            background-color: #191919;
            position: absolute;
            right: 0;
            top: 880px;
        }

        .item3 {
            width: 50%;
            height: 1140px;
            background-color: #262626;
            position: absolute;
            left: 0;
            top: 1086px;
            z-index: 1;
        }

        .item4 {
            width: 300px;
            height: 400px;
            background-color: $nor-red;
            position: absolute;
            left: 0;
            top: 1086px;
            z-index: 2;
        }

        .item5 {
            width: 52%;
            height: 75px;
            background-color: $nor-red;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

// 选手榜页面
.xsbPage {
    background-color: black;
    padding-bottom: 215px;
    color: white;
    font-family: $font-family;
    position: relative;

    .xsb-content {
        margin: 0 auto;
        width: 1200px;
        position: relative;
        z-index: 10;

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            padding-bottom: 110px;
            margin-top: 124px;
        }

        .topBox {
            display: flex;

            .right {
                margin-left: 60px;
                height: 572px;
                flex: 1;
                position: relative;

                .rightBottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    .eventname {
                        font-weight: 300;
                        font-size: 28px;
                    }

                    .name {
                        font-weight: 900;
                        font-size: 31px;
                    }

                    .iconbox {
                        display: flex;
                        margin-top: 10px;

                        .national {
                            display: flex;
                            margin-right: 35px;

                            .nationalIcon {
                                width: 28px;
                                height: 32px;
                            }

                            .moneyIcon {
                                width: 33px;
                                height: 33px;
                            }

                            p {
                                margin-top: 10px;
                                margin-left: 8px;
                                font-weight: 300;
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }

        >ul {
            width: 100%;
            list-style: none;
            margin-top: 120px;

            .header-item {
                display: flex;
                height: 70px;
                line-height: 70px;
                background-color: $nor-red;
                align-items: center;

                p {
                    height: 35px;
                    line-height: 35px;
                    color: white;
                    font-size: 18px;
                    font-family: $font-family;
                    font-weight: bold;
                    padding-left: 15px;
                    margin-left: -15px;
                    border-left: 1px solid #811213;

                    &:nth-child(1) {
                        border-left: none;
                        margin-left: 59px;
                    }
                }
            }

            .other-item {
                display: flex;
                height: 70px;
                line-height: 70px;
                background-color: #d5d7d8;
                color: black;
                font-size: 19px;
                font-weight: 300;
                font-family: $font-family;
                position: relative;

                &:nth-child(even) {
                    background-color: #f1f1f2
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    color: white;
                }

                .rank {
                    margin-left: 74px;

                    i {
                        display: inline-block;
                        position: absolute;
                        width: 179px;
                        height: 55px;
                        top: 7px;
                        left: 0;
                    }

                    p {
                        position: relative;

                        &.topThree {
                            font-size: 15px;
                            font-weight: 900;
                        }
                    }
                }

                .name {
                    display: flex;
                    align-items: center;

                    img {
                        width: 50px;
                        height: 50px;
                        background-color: #ccc;
                        border-radius: 50%;
                        margin-right: 14px;
                    }
                }

                .topThreeLine {
                    height: 1px;
                    background-color: rgba($color: white, $alpha: 0.7);
                    position: absolute;
                    bottom: 0;
                    z-index: 999;
                    width: 100%;
                }
            }
        }
    }

    .bg-view-box {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .item1 {
            width: 70%;
            background-color: #262626;
            position: absolute;
            left: 0;
            top: 1350px;
            bottom: 400px;
        }

        .item2 {
            width: 70%;
            background-color: #191919;
            position: absolute;
            right: 0;
            top: 400px;
            bottom: 400px;
        }

        .item3 {
            width: 50%;
            height: 100px;
            background-color: $nor-red;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

// 媒体指引页面
.guidePage {
    padding-top: 10px;
    padding-bottom: 215px;
    color: white;
    font-family: $font-family;
    background-color: black;

    .guide-content {
        margin: 0 auto;
        width: 1200px;

        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            padding-bottom: 50px;
            margin-top: 110px;
        }

        .mediaRequestBox {
            .title {
                font-size: 25px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 0;
            }

            .g-progress {
                display: flex;
                width: 1000px;
                margin: 53px auto;
                height: 94px;
                align-items: center;
                font-weight: 300;
                font-size: 25px;

                i {
                    background: url('../img/guideProgress.svg') no-repeat center;
                    width: 94px;
                    height: 94px;
                    display: inline-block;
                    line-height: 94px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 40px;
                    margin: 0 20px;
                }

                .rightarrow {
                    font-weight: bold;
                    font-size: 60px;
                }
            }

            .download {
                width: 250px;
                height: 65px;
                line-height: 65px;
                text-align: center;
                margin: 0 auto;
                border: 1px solid $nor-red;
            }
        }

        .summarybox {
            margin-top: 45px;
            font-size: 18px;
            font-weight: 300;

            p {
                margin-bottom: 20px;
            }
        }

        .guideDetailBox {
            margin-top: 50px;

            .seperatorline {
                width: 100%;
                height: 1px;
                background-color: $nor-red;
            }

            .paragtitle {
                font-size: 22px;
                color: #a41f21;
                font-weight: bold;
                margin-top: 50px;
            }

            .paragraph {
                margin-top: 30px;
                line-height: 40px;
            }
        }

    }
}