$photoScale: 1.03;

@mixin photoMix() {
    position: absolute;
    object-fit: cover;

    &:hover {
        transform: scale($photoScale);
        z-index: 999;
        transition: all 0.1s linear;
    }
}

.photowall1 {
    @include photoMix();
    width: 600px;
    height: 400px;
    left: 5%;
    top: -30px;
    z-index: 1;
}

.photowall2 {
    @include photoMix();
    width: 800px;
    height: 533px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    &:hover {
        transform: scale(1.02) translate(-50%, -50%);
        z-index: 999;
    }
}

.photowall3 {
    @include photoMix();
    width: 420px;
    height: 280px;
    left: 13%;
    top: 42%;
    z-index: 3;
}

.photowall4 {
    @include photoMix();
    width: 420px;
    height: 280px;
    left: 72%;
    top: 0;
    z-index: 5;
}

.photowall5 {
    @include photoMix();
    width: 420px;
    height: 280px;
    left: 80%;
    top: 33%;
    z-index: 6;
}

.photowall6 {
    @include photoMix();
    width: 420px;
    height: 280px;
    left: 65%;
    bottom: 0;
    z-index: 4;
}

.photomore {
    width: 250px;
    height: 65px;
    border: solid 1px #fff;
    text-align: center;
    line-height: 65px;
    color: white;
    font-size: 18px;
    font-family: 'NotoSansTC';
    margin: 20px auto;
    display: block
}